/************************************************************************************
	MAIN NAVIGATION
************************************************************************************/

/*******************************
*** Barre Haut ***/

.header-top {
    display: block;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $sy-main-nav-up-bg url(../assets/images/logo-sy.svg) 35px 14px/130px 47px no-repeat;
}

.header-top .nav-logo {
    display: block;
    width: 200px;
    height: 100%;
    text-decoration: none;
}

/*** Liens ***/

.header-top-right {
    position: relative;
    height: 100%;
    float: right;
    clear: both;
    color: $sy-main-nav-up-color;
}

.header-top-right > * {
    display: block;
    position: relative;
    float: left;
    height: 100%;
    border-left: 1px solid rgba(255,255,255,.1);
    text-align: center;
    cursor: pointer;
}

.header-top-right > *:hover {
    background-color: $sy-main-nav-up-bg-hover;
	transition: $sy-link-transition;
}

.header-top-right > * > a,
.header-top-right > * > button {
    display: inline-block;
    width: 100%;
	height: 100%;
    color: $sy-main-nav-up-color;
    text-decoration: none;
	background: transparent;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    padding-top: 25px;
	
}

.header-top-right > * > button {
    padding-top: 0;
}

/*** Dropdowns ***/

.header-top-right .dropdown .dropdown-menu {
	background: $sy-main-nav-up-bg-hover;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: $sy-dropdown-menu-box-shadow;
    position: absolute;
    top: 80px;
    left: 0;
    padding-bottom: 12px;
	width: 100%;
}

.header-top-right .dropdown .dropdown-menu a,
.header-top-right .dropdown .dropdown-menu button {
    color: $sy-main-nav-up-color;
	font-size: $sy-font-size-sm;
    font-weight: $sy-font-weight-normal;
    text-align: left;
    padding: 10px 18px;
    cursor: pointer;
    display: block;
    clear: both;
    line-height: 1.42857143;
}

.header-top-right .dropdown .dropdown-menu a:hover,
.header-top-right .dropdown .dropdown-menu button:hover {
    color: $white;
    background: darken($sy-main-nav-up-bg-hover, 5%);
}

/*** Blocs ***/

.header-top-right .nav-item {
    width: 90px;
}

/*** Bloc utilisateur ***/

.nav-item.nav-item-user {
    border: 0 none;
    width: auto;
    text-align: left;
	border-left: 1px solid rgba(255,255,255,.1);
}

/* Dropdown */
.header-top-right .nav-item-user .dropdown-toggle {
    width: 100%;
    padding: 20px 60px 0 85px;
}

.header-top-right .nav-item-user .dropdown-toggle::after {
    display: block;
    position: absolute;
    right: 28px;
    top: 34px;
}

/* Infos */
.header-top-right .nav-item-user .user-info .user-avatar {
    display: block;
    position: absolute;
    left: 25px;
    top: 17px;
    width: 25px;
    height: 45px;
    border-radius: 50%;
}

.header-top-right .nav-item-user .user-info .user-name {
    display: block;
    color: lighten($primary-saturate, 12%);
    font-size: $sy-font-size-xs;
    font-weight: $sy-font-weight-normal;
}

.header-top-right .nav-item-user .user-info .user-company {
    font-size: 15px;
    font-weight: $sy-font-weight-bolder;
}

/* Icone mobile */
.header-top-right .nav-item-user .user-icon {
	display: none;
}

/*** Bloc Langues ***/
/* Dropdown */
.header-top-right .nav-item-square .dropdown-menu {
    min-width: 90px;
	max-width: 90px;
}

.header-top-right .nav-item-square .dropdown-menu .dropdown-item {
    font-weight: $sy-font-weight-bold !important;
	text-align: center !important;
}

/*** Bloc Notifications ***/
/* Badge */
.header-top-right .nav-item-notif .badge {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 7px;
    padding: 0 3px;
    font-size: 11px;
    font-weight: $sy-font-weight-bolder;
    line-height: 14px;
    height: 14px;
    border-radius: 2px;
}


/*******************************
*** Barre Bas ***/

.header-menu {
    display: block;
    position: fixed;
    z-index: 499;
    top: 80px;
    float: none;
    left: 0;
    width: 100%;
    clear: both;
    height: 43px;
    background: $sy-main-nav-down-bg;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,.15);
	color: $white;
    padding: 0;
}

.header-menu .navbar-nav {
    border: none;
}

.header-menu .navbar-nav:first-child {
    margin-left: 35px;
}

.header-menu a {
    color: $white;
	font-size: $sy-font-size-sm;
}


/*** 1er niveau de liens ***/

.header-menu .nav-item .nav-link {
    padding: 0.7rem 1rem;
    background: transparent;
}

.header-menu .nav-item .nav-link,
.header-menu .nav-item.show .nav-link {
	font-weight: $sy-font-weight-bold;
}

.header-menu .nav-item .nav-link:hover {
    background-color: $sy-main-nav-down-bg-hover;
	transition: $sy-link-transition;
}

/* Item active */
.header-menu .active,
.header-menu .active:hover,
.header-menu .active a:hover {
    background-color: $sy-main-nav-down-bg-active !important;
}

/* Masquer les carets des .dropdown-toggle */
.header-menu .dropdown-toggle::after {
    display: none;
}


/*** 2eme niveau de liens ***/

.header-menu .dropdown-menu {
    margin-top: 0;
    background-color: $sy-main-nav-down-menu-bg;
	padding: 0 0 4px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    -webkit-box-shadow: $sy-dropdown-menu-box-shadow;
	box-shadow: $sy-dropdown-menu-box-shadow;
}

/* Menu ouvert : Liens 1er et 2eme niveau */
.header-menu .nav-item.show a {
    background-color: $sy-main-nav-down-menu-bg !important;
	color: $white;
	font-weight: $sy-font-weight-normal;
}

.header-menu .dropdown-menu a {
    padding: 10px 75px 10px 18px;
}

.header-menu .dropdown-menu a:hover {
    background-color: $sy-main-nav-down-menu-bg-hover !important;
}

.header-menu .dropdown-menu .dropdown-item:first-child {
	-webkit-box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1) !important; 
    box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

.header-menu .dropdown-menu .dropdown-item i,
.header-menu .dropdown-menu .dropdown-item .fa {
	margin-right: 6px;
}

/*** Divider ***/
.header-menu .dropdown-divider {
    border-top: 1px solid $sy-main-nav-down-menu-divider;
    margin: 0;
}

/*** Trigger Mobile / Burger ***/
.header-menu .hamburger-header {
    width: 37px;
    height: 37px;
    background-color: transparent;
}

.header-menu .hamburger-header span {
    display: block;
    position: absolute;
    height: 3px;
    width: 26px;
    background: $gray;
}

.header-menu .hamburger-header span:nth-child(1) {top: 12px;}
.header-menu .hamburger-header span:nth-child(2) {top: 19px;}
.header-menu .hamburger-header span:nth-child(3) {top: 26px;}

.header-menu .nav-item.dropdown .nav-link .responsiveIcon {
	display: none;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media screen and (max-width: 991px) {

	/*******************************
	*** Barre Haut ***/

	.header-top {
		background: $sy-main-nav-down-bg url(../assets/images/logo-sy.svg) no-repeat scroll 10px 13px /100px;
		height: 60px;
	}
	.header-top .nav-logo {
		width: 110px;
	}
	/* Blocs */
	.header-top-right .nav-item	{
		width: 45px;
	}
	.header-top-right > * > a,
	.header-top-right > * > button {
		color: $white;
		padding-top: 20px;
	}
	.header-top-right > *:hover {
		background-color: darken($sy-main-nav-down-bg-hover,5%);
	}
	/* Dropdowns */
	.header-top-right .dropdown-toggle::after {
		display: none !important;
	}
	.header-top-right .dropdown .dropdown-menu {
		background: darken($sy-main-nav-down-bg-hover,5%);
	}
	.header-top-right .dropdown .dropdown-menu a,
	.header-top-right .dropdown .dropdown-menu button {
		color: $white;
	}
	.header-top-right .dropdown .dropdown-menu a:hover,
	.header-top-right .dropdown .dropdown-menu button:hover {
		background: darken($sy-main-nav-down-bg-hover,12%);
	}
	/* Bloc utilisateur */
	.header-top-right .nav-item.nav-item-user {
		text-align: center;
	}
	.header-top-right .nav-item-user .user-info {
		display: none;
	}
	.header-top-right .nav-item-user .user-icon {
		display: block;
	}
	.header-top-right .nav-item-user .dropdown-toggle {
		padding: 20px 0 0 0;
	}
	/* Bloc notification */
	.header-top-right .nav-item-notif .badge {
		left: 15%;
		top: 45%;
	}

	/*******************************
	*** Barre Bas ***/

	.header-menu {
		top: 60px;
		background-color: $white;
		box-shadow: 1px 1px 1px 0 rgba(0,0,0,.15);
	}
	.navbar-collapse {
		box-shadow: $sy-btn-primary-box-shadow-hover;
		margin-top: 5px;
	}
	.header-menu .navbar-nav:first-child {
		margin-left: 0;
	}
	.header-menu .nav-item {
		background-color: $white;
		border-top: 1px solid $sy-main-border-color-ultra-light;
	}
	.header-menu .nav-item a {
		color: $sy-body-color;
		font-size: $sy-font-size-sm;
	}
	.header-menu .nav-item .active	{
		background-color: $sy-main-bg-hover !important;
	}
/* 	.header-menu .nav-item.dropdown .nav-link:before {
		font-family: FontAwesome;
		content: "\f105";
		color: $gray;
		font-size: 18px;
		position: absolute;
		left: auto;
		top: 13px;
		right: 18px;
		line-height: 1;
	} */

	.header-menu .nav-item.dropdown .nav-link .responsiveIcon {
		/* font-family: FontAwesome;
		content: "\f105"; */
		display: block;
		color: $gray;
		font-size: 18px;
		position: absolute;
		left: auto;
		top: 13px;
		right: 18px;
		line-height: 1;
	}

	.header-top-right .nav-item-square .dropdown-menu,
	.header-top-right .nav-item-user .dropdown-menu {
		position: absolute;
		transform: translate3d(0px, 60px, 0px);
		top: 0px;
		left: 0px;
	}

	.header-menu .nav.navbar-nav {
		margin-top: 6px;
	}

	/** 1er Niveau de liens **/
	/* Item */
	.header-menu .nav-item .nav-link {
		padding: .9rem 1.2rem;
	}
	/* Items hover */
	.header-menu .nav-item .nav-link:hover,
	.header-menu .active:hover,
	.header-menu .active a:hover {
		background-color: $sy-main-bg-selected !important;
		color: $sy-body-color;
	}
	/* Item active ouverte */
	.header-menu .nav-item.show .nav-link,
	.header-menu .nav-item.show .nav-link:hover,
	.header-menu .nav-item.show .nav-link:focus,
	.header-menu .nav-item.show .nav-link:active {
		border-top: none;
		background: $sy-main-bg-selected !important;
		color: $sy-body-color;
	}
	/* Item active + focus */
	.header-menu .nav-link.dropdown-toggle:focus, 
	.header-menu .nav-link.dropdown-toggle:active {
		background: $sy-main-bg-selected !important;
	}

	/** 2eme niveau de liens **/
	.header-menu .dropdown-menu {
		background-color: $white;
		border-radius: 0;
		padding: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.header-menu .dropdown-menu .dropdown-item:first-child {
		-webkit-box-shadow: none !important; 
		box-shadow:none !important;
	}
	.header-menu .nav-item.show a {
		background-color: lighten($sy-main-bg-hover,2%) !important;
		color: $sy-body-color;
	}
	.header-menu .nav-item.show a:hover {
		background-color: $sy-main-bg-selected !important;
	}
	/* Divider */
	.header-menu .dropdown-divider {
		border-top: none;
	}
}
