/************************************************************************************
	BADGES
************************************************************************************/

.badge {
    padding: .5em 1.2em .62em 1.2em;
	font-size: 85%;
	font-weight: $sy-font-weight-normal;
    line-height: 1.2;
	color: $sy-badge-color;
}

.badge-primary {
    background-color: $primary;
}

.badge-secondary {
    background-color: $secondary;
}

.badge-success {
    background-color: $success;
}

.badge-info {
    background-color: $info;
}

.badge-warning {
    background-color: $warning;
}

.badge-danger {
    background-color: $danger;
}

.badge-default ,
.badge-pill-default {
	color: $sy-badge-default-color;
    background-color: $sy-main-bg-selected;
	border: $sy-badge-default-border;
}

.badge-light {
    background-color: $white;
	color: $sy-badge-default-color;
	border: $sy-badge-default-border;
}
