/************************************************************************************
	BARRES DE PROGRESSION
************************************************************************************/

.progress-bar {
    background-color: $primary;
}
