/************************************************************************************
	DASHBOARD
************************************************************************************/

.dashboard-container {
	padding: 30px;
}

@media (max-width: 1366px) {
	.dashboard-container  [class*=col-]{
		padding-right: 5px;
		padding-left: 5px;
	}
}

/*******************************
*** Blocs KPI ***/

/** Link-box **/

.link-box:hover .box-content{
	transition: $sy-btn-primary-transition;
}

.link-box:hover {
	text-decoration: none !important;
}


/** box-content **/

.box-content {
    background-color: $white;
    padding: 25px;
	min-height: 250px;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 25px;
    box-shadow: $sy-shadowed;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media (max-width: 1366px) {
	.box-content {
		padding: 20px;
		min-height: 200px;
	}
}

@media (max-width: 991px) {
	.box-content {
		min-height: 180px;
	}
}

@media (max-width: 767px) {
	.box-content {
		min-height: 120px;
		margin-bottom: 10px;
		border-radius: $sy-main-border-radius;
	}
}

.box-content .title {
    text-align: center;
    font-size: $sy-font-size-lg;
    line-height: 1.3;
	font-weight: $sy-font-weight-normal;
	margin:auto;
}

.box-content .subtitle {
    font-weight: $sy-font-weight-bolder;
}

.box-content .number {
    width: 100%;
	font-size: 3rem;
    font-weight: $sy-font-weight-thin;
    color: lighten($gray,10%);
	margin-top: 20px;
    text-align: center;
    white-space: nowrap;
}

.box-content .more {
    color: $sy-link-color;
    font-size: $sy-font-size-sm;
    font-weight: $sy-font-weight-bolder;
	position: absolute;
    bottom: 40px;
    right: 40px;
}

.box-content .more:hover {
	color: $sy-link-color-hover;
}

.box-content .subindicator {
    font-size: $sy-font-size-xs;
    font-style: none;
	margin-top: 12px;
    color: $gray;
}

.box-content .subindicator span {
    font-size: 1rem;
    font-weight: $sy-font-weight-bolder;
    background-color: $light;
    border-radius: $sy-main-border-radius;
    padding: 5px 10px;
}

/* box-content-default */
.box-content-default{
    background-color: $white;
}

.box-content-default .title {
	color: $gray;
}

/* box-content-primary */
.box-content-primary {
    background-color: $primary;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: $white;
}

.box-content-primary:hover {
	background-color: darken($primary, 5%);
}

.box-content-primary .title {
	font-weight: $sy-font-weight-bold;
	color: $white;
}

/* box-content-purple */
.box-content-purple {
    background-color: $purple;
}

.box-content-purple:hover {
    background-color: darken($purple, 5%);
}

.box-content-purple .title {
	color: $white;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media (max-width: 1366px) {
	.box-content .title {
		font-size: 1rem;
		line-height: 1.2;
	}
	.box-content .number {
		font-size: 2.4rem;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.box-content a {
		display: none;
	}
}

@media (max-width: 991px) {
	.box-content .number img {
		width: 8%;
	}
}

@media (max-width: 767px) {
	.box-content .title {
		font-size: 1rem;
		line-height: 0.75;
	}
	.box-content .subtitle {
		display: inline;
	}
	.box-content .number {
		font-size: 38px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.box-content .subindicator {
		display: none;
	}
}
